.home-product-carousel {
  background: #243139;  
  height: 80%;
  width: 100vw;
  position: absolute;
  top: 50%;
  margin-top: -20vh;

  h2 {
    color: white;
  }
}

.container li {
  list-style: none;
}

.card-carousel {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  position: relative;
}

.card {
  background: #243139;  
  border-radius: 8px;
  /* padding: 30px; */
  width: 100%;
  height: 350px;
  transition: all 0.75s ease;
  opacity: 0;
  position: absolute;
  /* transform: scale(0.99) translateX(50px); */
  top: 50%;
  margin-top: -175px;
}

@media screen and (max-width: 700px) {
  .card {
    height: 250px;
    position: absolute;
    top: 50%;
    margin-top: -22vh;
  }
}


.home-list-img img {
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 170px;
cursor: pointer;

}

@media screen and (max-width: 700px) {
  .home-list-img img{
    width: 70%;
    height: 170px;
    }
}




.card h2 {
  padding-bottom: 10px;
  color: white;
}
.card h2,
.card p {
  line-height: 1.5;
  margin: 0;
}

// .card.active {
//   opacity: 1;
//   transform: scale(1) translateX(0); 
//   /* box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2); */
//   z-index: 1;
// }

/* .card.next {
  opacity: 1;
  z-index: 0;
}

.card.prev {
  transform: scale(1.1) translateX(-50px);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
} */

