.home-product-carousel {
  background: #243139;  
  height: 90%;
  width: 100vw;
  position: absolute;
  top: 50%;
  margin-top: -20vh;

  h2 {
    color: white;
  }
}

.container li {
  list-style: none;
}

.card-carousel {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  position: relative;
}

.card {
  background: #243139;  
  border-radius: 8px;
  /* padding: 30px; */
  width: 100%;
  height: 350px;
  transition: all 0.75s ease;
  opacity: 0;
  position: absolute;
  /* transform: scale(0.99) translateX(50px); */
  top: 50%;
  margin-top: -175px;
}

@media screen and (max-width: 700px) {
  .card {
    height: 250px;
    position: absolute;
    top: 50%;
    margin-top: -22vh;
  }
}


.home-list-img img {
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
  width: 55%;
  height: 170px;
  cursor: pointer;
  filter: brightness(1.1);

}

.home-list-img img:hover {
  filter: blur(1px);

}

@media screen and (max-width: 700px) {
  .home-list-img img{
    width: 70%;
    height: 170px;
    }
}




.card h2 {
  padding-bottom: 10px;
  color: white;
}
.card h2,
.card p {
  line-height: 1.5;
  margin: 0;
}

