// .full-container {
//   height: 100vh;
// }

.home-container {
  height: 40vh;
  position: relative;
  width: 100vw;
  padding: 0;
  margin: 0;

}

@media screen and (max-width: 700px) {
  .home-container {
    height: 80vh;
  }
}


.home-container img {
  width: 100%;
  height: 110%;

}

.header {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
  }

p {
  color: white;
  width: 75%
}



  button {
    background-color: orange;
    font-size: 1.2rem;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.header img {
  width: 50px;
}

@media screen and (max-width: 700px) {
  .header img {
    height: 50px;
  }
}


@media screen and (max-width: 700px) {
  .header {
    height: 40vh;
    position: absolute;
    top: 50%;
    margin-top: -30vh;
  }
}





.recommendations {
  height: 50vh;
  width: 100vw;
  background-color: black;
  position: relative;

}

@media screen and (max-width: 700px) {
  .recommendations {
    height: 50vh;
  }
}


.rec-list {
  height: 100%;
}

@media screen and (max-width: 700px) {
  .rec-list {
  
  }
}


// .card-component {
//   height: 200px;
//   top: 50%;
//   margin-top: -100px;
// }

@media screen and (max-width: 700px) {
  .foot {
    display: none;
  }
}
