// .full-container {
//   height: 100vh;
// }

.home-container {
  font-family: Arial,Helvetica,sans-serif;
  height: 40vh;
  position: relative;
  width: 100vw;
  padding: 0;
  margin: 0;

}

@media screen and (max-width: 700px) {
  .home-container {
    height: 80vh;
  }
}


.home-container img {
  width: 100%;
  height: 120%;
  filter: brightness(1.2);
}

.header {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  h1 {
    color: white;
  }

p {
  color: white;
  width: 75%
}



  button {
    background-color: orange;
    font-size: 1.2rem;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.header img {
  width: 70px;
}

@media screen and (max-width: 700px) {
  .header img {
    height: 50px;
  }
}


@media screen and (max-width: 700px) {
  .header {
    height: 40vh;
    position: absolute;
    top: 50%;
    margin-top: -30vh;
  }
}





.recommendations {
  height: 45vh;
  width: 100vw;
  background-color: black;
  position: relative;
  border-bottom: solid 1px hsla(0,0%,100%,.5); 

}

@media screen and (max-width: 700px) {
  .recommendations {
    height: 50vh;
  }
}


.rec-list {
  height: 100%;
}

@media screen and (max-width: 700px) {
  .rec-list {
  
  }
}


