// .full-container {
//   height: 100vh;
// }

.home-container {
  height: 350px;
  position: relative;
  width: 100vw;

}

.home-container img {
  width: 100%;

}

.header {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -50%;
}


.recommendations {
  height: 430px;
  width: 100vw;
  background-color: black;
  position: relative;

}

.rec-list {
  position: absolute;
  top: 50%;
  margin-top: -175px;
  height: 350px;
  background: #243139;  
  width: 100vw;
}

// .card-component {
//   height: 200px;
//   top: 50%;
//   margin-top: -100px;
// }