.signin-container {
  width: 100%;
  height: 100vh;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: Arial,Helvetica,sans-serif;


  img {
    width: 100vw;
    height: 50%;
    object-fit: cover;
    object-position: center;
    filter: opacity(.5) grayscale(.8);
  }

  p {
    width: 80%;
    margin: 0 auto;

  }

  @media screen and (max-width: 700px) {
    p {
      
      font-size: 1.4rem;
      font-weight: max;
      
    }
  }
  

  h3 {
    color: white;
    padding-top: 10px;

    
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 40%;

    input {
      height: 30px;
      width: 80%;
      margin: 0 auto;
    }

    button {
      background-color: #FFA000;
      height: 45px;
      font-weight: 500;
      color: white;
      font-size: 1.5rem;
      width: 70%;
      margin: 0 auto
    }
  }
}

.sign-img-contain {
  position: absolute;
  top: 10%;
  // height: 300px;
  color: white;
  font-weight: max;
  font-size: 2rem;
  

  img {
     width: 50px;
     filter: brightness();
     padding-bottom: 5px;
     
  }
}

