.signin-container {
  width: 100%;
  height: 100vh;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: Arial,Helvetica,sans-serif;


  }
  
  .signin-container img {
    width: 100vw;
    height: 50%;
    object-fit: cover;
    object-position: center;
    filter: opacity(.5) grayscale(.8);
  }

  .signin-container p {
    width: 80%;
    margin: 0 auto;

  }

  @media screen and (max-width: 700px) {
    .signin-container p {
      
      font-size: 1.4rem;
      font-weight: max;
      
    }

  }

  .signin-container h3 {
    color: white;
    padding-top: 10px;
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
    
  }

  .signin-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 40%;

}

.signin-container form input {
  height: 30px;
  width: 80%;
  margin: 0 auto;
}

.signin-container form button {
  background-color: #FFA000;
  height: 45px;
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
  width: 70%;
  margin: 0 auto
}



.sign-img-contain {
  position: absolute;
  top: 10%;
  color: white;
  font-weight: max;
  font-size: 2rem;
  

}

.sign-img-contain img {
  width: 50px;
  filter: brightness();
  padding-bottom: 5px;
  
}
