.top-bar-container {
  background: #243139;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-items-one {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          z-index: 9999999;

}

@media screen and (min-width: 700px) {
  .top-items-one {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 700px) {
  .login {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
   
  }
}

.login a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .login {
    display: none;
  }
}


.top-items-two {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
      z-index: 9999999;

}

.store-logo {
  height: 35px;
}

.top-item {
  height: 50px;
  color: white;
  cursor: pointer;
}

.nav-blur-container {
  position: absolute;
  top: 35px;
  padding: 0;
  width: 100vw;
}

.nav-blur-flex {
  width: 100%;
  display: flex;

}

.close-nav {
  display: none;
}

.slide-nav {
  /* position: absolute; */
  /* top: 35px; */
  z-index: 9999;
  padding: 0;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  animation-name: slideOut;
  animation-duration: .3s;
}

@keyframes slideOut {
  from {
    width: 0%
  }
  to {
    width: 170px;
  }
}



.nav-list {
  
  width: 170px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-content: space-around;
  z-index: 99;


}


.nav-list a {
  text-decoration: none;
  border-top: solid white 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.nav-list a:nth-child(3) {
  border-bottom: solid white 1px;

}

.blur {
  width: 100vw;
  background: #243139;
  z-index: 5;
  margin-top: 16px;
  opacity: .5;
  filter: blur(15px);
}

.fa.fa-bars {
  color: white;
}

@media screen and (min-width: 700px) {
  .fa.fa-bars {
    display: none;
  }
}
