@mixin topItems {
  height: 50px;
  color: rgb(255,255,255);


}

@mixin justifyContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.top-bar-container {
  background: #243139;  
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.top-items-one {
  width: 50%;
  @include justifyContent();
}

.top-items-two {
  width: 50%;
  @include justifyContent();

}



.store-logo {
  width: 60%;
  object-fit: contain;
}

.top-item {
  @include topItems();
  cursor: pointer;


}


.cart {
  width: 60%;
}
