.top-bar-container {
  position: relative;
  background: #243139;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
          font-family: Arial,Helvetica,sans-serif;

}

.top-items-one {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          z-index: 9999999;

}

@media screen and (min-width: 700px) {
  .top-items-one {

    display: flex;
    justify-content: space-around;
  }
}

.top-items-one p {
  margin: 0;
  color: white;
  padding-right: 3rem;
}

@media screen and (min-width: 700px) {
  .login {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
   
  }
}

.login a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .login {
    display: none;
  }
}


.top-items-two {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
      z-index: 9999999;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .top-items-two {
    width: 50%;
  }
}


.store-logo {
  height: 35px;
}

.top-item {
  height: 50px;
  color: white;
  cursor: pointer;
}

.nav-blur-container {
  position: absolute;
  top: 35px;
  padding: 0;
  width: 100vw;
}

.nav-blur-flex {
  width: 100%;
  display: flex;

}

.close-nav {
  display: none;
}

.slide-nav {
  /* position: absolute; */
  /* top: 35px; */
  z-index: 9999;
  margin-top: 15px;

  padding: 0;
  background-color: #1f2b33;
  height: 100vh;
  display: flex;
  align-items: center;
  animation-name: slideOut;
  animation-duration: .3s;
}

@keyframes slideOut {
  from {
    width: 0%
  }
  to {
    width: 170px;
  }
}



.nav-list {
  
  width: 170px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-content: space-around;
  z-index: 99;


}


.nav-list a {
  text-decoration: none;
  border-top: solid white 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.nav-list a:nth-child(3) {
  border-bottom: solid white 1px;

}

.blur {
  width: 100vw;
  background: #243139;
  z-index: 5;
  margin-top: 16px;
  opacity: .5;
  filter: blur(15px);
}

.fa.fa-bars {
  color: white;
}

@media screen and (min-width: 700px) {
  .fa.fa-bars {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .cart {
    display: none;
  }
}



.form input {
  height: 2rem;
  width: 12rem;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .form input {
    width: 7rem;
    margin-right: 5px;
  }
}


.form button {
  height: 2rem;
  width: 4rem;
  background-color: #141414;
  color: white;
  border-radius: 10px;
  transition-duration: .5s;
}

@media screen and (max-width: 1017px) {
  .form button {
    width: 2.5rem;
  }
}


.form button:hover {
  background-color: #1f2b33;
  color: #141414;

}

.choices {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1017px) {
  .choices {
    width: 100%;
    position: absolute;
    top: 60px;
    right: 50%;
    margin-right: -50%;
    
  }
}

.choice-button {
  padding-right: 5px;
}